table {
  border: 1px solid white;
  margin-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

td {
  border: 1px solid white;
}

thead tr th {
  border-bottom-color: white;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

tbody tr th {
  border: 1px solid white;
}
